<div class="container">
    <details>
        <summary>Produtos</summary>

        <table>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
            <tr *ngFor="let prod of products">
                <td>{{prod.name}}</td>
                <td>{{formatMoney(prod.price)}}</td>
                <td><button (click)="deleteProduct(prod.id)">-</button></td>
            </tr>
        </table>

        <br/> 

        <details>
            <summary>Adicionar Produto</summary>

            <label>Descrição: <input type="text" [(ngModel)]="newProduct.name" /></label>
            <label>Preço unitário: <input type="number" step="0.01" [(ngModel)]="newProduct.price" min="0"/></label>
            <button (click)="addProduct()">Adicionar</button>
        </details>
    </details>
</div>
